@import url(http://fonts.googleapis.com/css?family=Indie+Flower);




body{
    background-color: #5388d5;
    height: 800px;
    max-height: 800px;
}

#logo{
    height: 100%;
}



@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #7ac3fe;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #7ac3fe;
        background-color: #427694;
    }
}


.instaimg{
    width: 200px;
    height: 200px;
}

.instaimg > img{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

#map-canvas{
    height: 700px;
    width: 100%;
}

/* Instagram container */
#instacontainer{
    height: 372px;
    width: 318px;
    padding-top: 20px;
    background-image: url(images/polaroid_frame-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#instaimg{
    margin-left: 32px;
    margin-top: 12px;
    width: 255px;
    height: 255px;
    background-size: cover;
}

#full_name{
    padding-left: 85px;
    padding-top: 15px;
    color: black;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}


#username{
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    padding-left: 85px;
    margin-top: -25px;
    display: block;
}

#username:hover{
    font-size: 18px;
}

#profile_pic{
    width: 48px;
    height: 48px;
    margin-top: -25px;
    margin-left: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}



/*Twitter */


#twittercontainer{
    height: 372px;
    width: 318px;
    padding-top: 20px;
    background-image: url(images/polaroid_frame-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#twittertext{
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: white;
    width: 255px;
    height: 255px;
    margin-left: 40px;
    margin-top: 35px;
}

#twitter-profile-pic{
    z-index: 10;
    width: 48px;
    height: 48px;
    margin-top: -10px;
    margin-left: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}




/*Loading...*/


.windows8 {
     margin-left: 500px;
     margin-top: 200px;
     z-index: 1;
     position: absolute;
     width: 90px;
     height:90px;
 }

.windows8 .wBall {
    position: absolute;
    width: 86px;
    height: 86px;
    opacity: 0;
    -moz-transform: rotate(225deg);
    -moz-animation: orbit 7.15s infinite;
    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 7.15s infinite;
    -ms-transform: rotate(225deg);
    -ms-animation: orbit 7.15s infinite;
    -o-transform: rotate(225deg);
    -o-animation: orbit 7.15s infinite;
    transform: rotate(225deg);
    animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #2985C2;
    left:0px;
    top:0px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 11px;
}

.windows8 #wBall_1 {
    -moz-animation-delay: 1.56s;
    -webkit-animation-delay: 1.56s;
    -ms-animation-delay: 1.56s;
    -o-animation-delay: 1.56s;
    animation-delay: 1.56s;
}

.windows8 #wBall_2 {
    -moz-animation-delay: 0.31s;
    -webkit-animation-delay: 0.31s;
    -ms-animation-delay: 0.31s;
    -o-animation-delay: 0.31s;
    animation-delay: 0.31s;
}

.windows8 #wBall_3 {
    -moz-animation-delay: 0.62s;
    -webkit-animation-delay: 0.62s;
    -ms-animation-delay: 0.62s;
    -o-animation-delay: 0.62s;
    animation-delay: 0.62s;
}

.windows8 #wBall_4 {
    -moz-animation-delay: 0.94s;
    -webkit-animation-delay: 0.94s;
    -ms-animation-delay: 0.94s;
    -o-animation-delay: 0.94s;
    animation-delay: 0.94s;
}

.windows8 #wBall_5 {
    -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
    -ms-animation-delay: 1.25s;
    -o-animation-delay: 1.25s;
    animation-delay: 1.25s;
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin:0%;
    }

    30% {
        opacity: 1;
        -moz-transform:rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin:7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin:30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin:70%;
    }

    76% {
        opacity: 0;
        -moz-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:0%;
    }

    30% {
        opacity: 1;
        -webkit-transform:rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin:7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin:30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin:70%;
    }

    76% {
        opacity: 0;
        -webkit-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin:0%;
    }

    30% {
        opacity: 1;
        -ms-transform:rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin:7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin:30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin:70%;
    }

    76% {
        opacity: 0;
        -ms-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin:0%;
    }

    30% {
        opacity: 1;
        -o-transform:rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin:7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin:30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin:39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin:70%;
    }

    76% {
        opacity: 0;
        -o-transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index:99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin:0%;
    }

    30% {
        opacity: 1;
        transform:rotate(410deg);
        animation-timing-function: ease-in-out;
        origin:7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin:30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin:39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin:70%;
    }

    76% {
        opacity: 0;
        transform:rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }

}





.ticker{
    height: 700px;
    max-height: 700px;
    overflow-y: auto;
    color: #000000;
}

.ticker-img{
    height: 180px;
    width: 200px;
    margin-top: 9px;
    border-style:solid;
    border-color:black;
    border-width: 1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

.ticker-img:hover{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.ticker-container{
    height: 200px;
    background-image: url("images/ticker-container.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-style:solid;
    border-color:black;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
    border-style:solid;
    border-color:black;
    border-width: 1px;
    -webkit-border-radius: 4px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 1000px 300px #01010D;
    box-shadow: 10px 10px 1000px 300px #01010D;
}

.ticker-instagram-icon{
    margin-top: -180px;
    margin-left: 210px;
    height: 32px;
    width: 32px;
    background-image: url("images/ticker/Instagram.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ticker-instagram-name{
    ont-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 14px;
    margin-left: 250px;
    margin-top: -30px;
}

.ticker-instagram-text{
    text-overflow: ellipsis; /* will make [...] at the end */
    margin-top: 20px;
    overflow:hidden; /* older browsers */
    margin-left: 210px;
    word-wrap:break-word;
    max-width: 195px;
    width: 195px;
    max-height: 130px;
    height: 130px;
}


.vertical-track {
    width: 16px;            /* How wide is the scrollbar going to be? */
    background-color: #aaa; /* What color should the vertical track be? */
    border-style: solid;
    border-width: 1px;
}

.vertical-handle {
    width: 14px;            /* How wide is the scrollbar handle? */
    background-color: #aaf; /* What color should the handle be? */
    border-style: solid;
    border-width: 1px;
}
